@import '@/styles/mixins.scss';

.heroWrapper {
  margin-top: 3rem;
  text-align: center;
}

.title {
  font-size: clamp(var(--text-5xl), 10vw, var(--text-7xl));
  line-height: 1.4;
  color: var(--white);
  font-family: var(--font-heading);
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}

.description {
  font-size: clamp(var(--text-base), 2vw, var(--text-xl));
  color: var(--gray-300);
  font-family: var(--font-sans);
  font-weight: 300;
  margin-bottom: 2rem;
}

@include mediaquery('lg') {
  .heroWrapper {
    margin: 5rem auto 0 auto;
  }

  .description {
    margin-bottom: 3rem;
  }
}