:root {
  --black-500: rgb(16, 16, 16);
  --black-600: rgb(12, 12, 12);
  --yellow-500: rgb(255, 233, 92);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--black-500);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: white;
}
