:root {
  --black-400: rgb(64, 64, 64);
  --black-500: rgb(17, 16, 16);
  --black-600: rgb(12, 12, 12);
  --yellow-500: rgb(255, 233, 92);
  --gray-500: rgb(128, 128, 128);
  --gray-400: rgb(160, 160, 160);
  --gray-300: rgb(192, 192, 192);
  --white: rgb(255, 255, 255);
}