.title {
  font-size: clamp(var(--text-5xl), 10vw, var(--text-8xl));
  line-height: 0.95;
  color: var(--gray-100);
  font-family: var(--font-heading);
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-align: start;

  span {
    &:first-child {
      color: transparent;
      -webkit-text-stroke: 1px var(--gray-100);

      // styles for comma
      span {
        -webkit-text-stroke: 1px var(--yellow-500);
      }
    }
  }


}

.textRight {
  text-align: end;
}