@import '@/styles/mixins.scss';

.layoutContainer {
  padding: 1.5rem 2rem;
}

@include mediaquery('lg') {
  .layoutContainer {
    max-width: 1620px;
    margin: 0 auto;
    padding: 2rem 5rem;
  }
}
