@import '@/styles/mixins.scss';

.buttonWrapper {
  background-color: var(--yellow-500);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .buttonText {
    color: var(--black-500);
    font-size: var(--text-base);
  }

  .arrowWrapper {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: var(--black-500);

    svg {
      width: 1rem;
      height: 1rem;
      position: absolute;
      transition: transform 0.3s;

      &:last-child {
        transform: rotate(135deg) translate(-100%, 100%);
        transition-delay: 0.1s;
      }

      path {
        stroke: var(--yellow-500);
      }
    }
  }

  &:hover {
    .arrowWrapper {
      svg {
        &:first-child {
          transform: translate(100%, -100%);
        }

        &:last-child {
          transform: rotate(135deg) translate(0, 0);
        }
      }
    }
  }
}



@include mediaquery('lg') {
  .buttonWrapper {
    padding: 1rem 1.75rem;

    .buttonText {
      font-size: var(--text-xl);
    }
  }
}