@import '@/styles/mixins.scss';

.logo {
  font-size: var(--text-2xl);
  color: var(--white);
  font-family: var(--font-anton);
}

.dot {
  color: var(--yellow-500);
}

@include mediaquery('md') {
  .logo {
    font-size: var(--text-4xl);
  }
}
