@import '@/styles/mixins.scss';

.sectionWrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 60px;

  &>div:last-child {
    display: flex;
    justify-content: center;
  }
}

@include mediaquery('lg') {
  .sectionWrapper {
    grid-template-columns: 1fr 1fr;
  }
}